    <div class="alert alert-dismissable alert-danger" style="margin-top:2%">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Sorry, the user you looked for doesnot exist</div>

