<div style="text-align:justify;">
     <p style="font-size:23px;">
     <font face="samarkan">Thaaliyola </font>is a complete Library Management System developed using PHP and MySql. The front end is designed using Bootstrap, JavaScript and jQuery. Thaaliyola was designed to be used at Sree Sankara Vidyaapetom College, Valayanchirangara, Perumbavoor. The source of the project is released under GPL v3 and is available at <a href="http://gitlab.com/balasankarc/thaaliyola">GitLab</a>. The database, however is the property of Sree Sankara Trust. </p>
     <br />
   <br />
   <div class="row">
   <div class="col-md-3" style="text-align:center;">
       <a href = "admin_sign_in.php">
           <button class="btn btn-primary btn-home ">
                Admin
            </button>
        </a>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <a href = "staff_sign_in.php">
            <button class="btn btn-warning btn-home ">
                Staff
            </button>
        </a>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <a href="student_sign_in.php">
            <button class="btn btn-success btn-home ">
                Student
            </button>
        </a>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <a href="member_sign_in.php">
            <button class="btn btn-danger btn-home ">           
                Member
            </button>
        </a>
    </div>
   </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js">
  </script>
