<%= form_for(@user, :url=>return_path(@user)) do |f| %>
<div class="input-group">
         <%= f.fields_for :book do |book_form| %>
            <%= book_form.text_field :id ,class:"form-control", placeholder: "Book Serial Number" %>
    <% end %>
    <span class="input-group-btn">
        <%= button_tag 'Return Book', class:"btn btn-danger" %>
    </span>
</div> 
<% end %>
