<div class="input-group">
    <input type="text" class="form-control" style="width:100%" placeholder="Book Serial Number"></input>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Issue Book</button>
    </span>
</div> 

