<% if session.has_key?(:user) and @user.username==session[:user] or session.has_key?(:user) and User.where(:username=>session[:user]).first.admin=true%>
    <h1>Reset Password</h1>
<%= render 'formresetpassword' %>
<% else %>
    <div class="alert alert-dismissable alert-danger" style="margin-top:2%">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        You cannot access this page</div>
<% end %>
