- currentuser = current_user()
- if currentuser == @user or isadmin() == true
  %h1 Reset Password
  = render 'formresetpassword'
- else
  .alert.alert-dismissable.alert-danger{style:"margin-top:2%"}
    %button.close{type:"button",data:{dismiss:"alert"},aria:{hidden:"true"}} &times;
    You Cannot Access This Page
