   <% @user = current_user() %>
    <% if @user != nil %>
        <% I18n.locale = @user.locale %>
        <% end %>


<style>
li{display:inline;
}
br{}
</style>
<% if params.has_key?(:begins) %>
    <% @text="Books under "+params[:begins].to_s %>
<% else %>
    <% @text = t('all_books') %>
<% end %>
<h1 style="text-align:center;"> 
    <%= @text %><br />
</h1>
<div style="text-align:center">
    <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
</div>
<table class="table table-hover" style="width:100%">
    <tr>
        <th class="col-md-6">Book</th>
        <th class="col-md-6">Author</th>
    </tr>


        <% @counter=1 %>
    <% @books.each do |book| %>
        <tr>
            <td><h2><%= link_to book.name,book %></h2></td>
            <% book.authors.each do |a|%>
                <td><h2><%= link_to a.name,a %></h2></td>
            <% end %>
        </tr>
    <% end %>
</table>

