<style>
li{display:inline;
}
br{}
</style>
<% if params.has_key?(:begins) %>
    <% @text="Books under "+params[:begins].to_s %>
<% else %>
    <% @text = "All Books" %>
<% end %>
 
<h1 style="text-align:center;"> 
   <%= @text %>
</h1>
<table class="table table-hover" style="width:100%">
    <tr>
        <th class="col-md-2">Serial Number</th>
        <th class="col-md-5">Book</th>
        <th class="col-md-5">Author</th>
    </tr>


    <% @books.each do |book| %>
        <% @counter=1 %>
        <tr>
            <td><h3><%= @counter %><% @counter += 1%></h3></td>
            <td><h2><%= link_to book.name,book %></h2></td>
            <% book.authors.each do |a|%>
                <td><h2><%= link_to a.name,a %></h2></td>
            <% end %>
        </tr>
    <% end %>
</table>

