 <% if params.has_key?(:categorybegins) %>
    <% @text="Categories under "+params[:categorybegins].to_s %>
<% else %>
    <% @text = "All Categories" %>
<% end %>
 
<h1 style="text-align:center;margin-right:10%"> 
   <%= @text %>
</h1>
<table class="table table-hover" style="width:95%">
    <tr>
        <th class="col-md-2">Serial Number</th>
        <th class="col-md-5">Category</th>
    </tr>


    <% @categories.each do |category| %>
        <% @counter=1 %>
        <tr>
            <td><h3><%= @counter %><% @counter += 1%></h3></td>
            <td><h2><%= link_to category.name,category %></h2></td>
        </tr>
    <% end %>
</table>


